<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Carta Senha</title>
    <style type="text/css">
        * {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: 333333;
        }
        body{
            background: white;
        }
    </style>
</head>
<body>
<div style="width: 100%;">
    <div style="float: left; padding: 20px 0 20px 20px;">
        <img src="http://local.riodasostras.rj.gov.br/cdn/Assets/images/Brasao.svg" style="height: 80px;" alt="Brasão do Município de Rio das Ostras - RJ">
    </div>
    <div style="float: left; padding: 20px 0 20px 20px;">
        <p style="border-bottom: solid 1px #333333;">
            ESTADO DO RIO DE JANEIRO<br>
            MUNICÍPIO DE RIO DAS OSTRAS<br>
            SECRETARIA DE ADMINISTRAÇÃO PÚBLICA
        </p>
    </div>
</div>
<div style="clear: both;"></div>
<div style="width: 100%;">
    <div style="text-align: right; padding-right: 20px;">
        <p>Rio das Ostras, <span id="spanData">31/08/2018</span>. </p>
    </div>
    <div style="width: 100%;">
        <p id="paragrafoTexto" style="padding: 20px;">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
    </div>
</div>
</body>
</html>